/* Coolors Exported Palette - coolors.co/4b88a2-f6f8ff-0d0809-1c1f33-415275 */

$color1: #4b88a2; //rgba(75, 136, 162, 100)
$color2: #f6f8ff; //rgba(246, 248, 255, 100)
$color3: #0d0809; //rgba(13, 8, 9, 100)
$color4: #1c1f33; //rgba(28, 31, 51, 100)
$color5: #415275; //rgba(65, 82, 117, 100)