/***** TEXT AND COLOR SCHEME *********/
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #6a8eae;
  color: #f6f8ff;
}

h1, 
h2, 
h3 {
  font-family: 'Play', sans-serif;
}

a {
  color: #f6f8ff;
  text-decoration: underline solid;
  display: inline-block;
  padding-bottom: 15px; /* add spacing hre and not columns because they are nested and it gets messy */
}

a:hover {
  color: #020300;
}

a:visited {
  color: #020300;
}

.social-icons a {
  text-decoration: none;
  color: #020300;
  padding: 0;
}


/*********** IMAGES *******************/
#img-logo {
  max-height: 110px;
  margin: 15px;
}

#img-keyboard {
  max-height: 300px;
  width: 100%;
}


/**************************************/
#hr-header {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(246, 248, 255, 0), rgba(246, 248, 255, 0.75), rgba(246, 248, 255, 0)); /* f6f8ff */
}


/************* STICKY FOOTER **********/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eff0e4;
  padding: 10px;
}


/************* FOOTER ICONS **********/
.social-icons {
  font-size: 2rem;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  float: none;
}


/************* MODALS ****************/
.modal-body {
  background-color: #6a8eae;
  color: #f6f8ff;
}

.modal-content {
  background-color: #6a8eae;
  color: #f6f8ff;
  border-radius: 0;
}

.modal-footer {
  border-top: 1px solid #f6f8ff;
}

.modal-header {
  border-bottom: 1px solid #f6f8ff;
}
 

/************* CUSTOM BUTTON ****************/
.btn-themecolor { 
  color: #6a8eae; 
  background-color: #f6f8ff; 
  border-color: #f6f8ff; 
  border-radius: 0;
} 
 
.btn-themecolor:hover, 
.btn-themecolor:focus, 
.btn-themecolor:active, 
.btn-themecolor.active, 
.open .dropdown-toggle.btn-themecolor { 
  color: #6a8eae; 
  background-color: #f6f8ff; 
  border-color: #f6f8ff; 
} 
 
.btn-themecolor:active, 
.btn-themecolor.active, 
.open .dropdown-toggle.btn-themecolor { 
  background-image: none; 
} 
 
.btn-themecolor.disabled, 
.btn-themecolor[disabled], 
fieldset[disabled] .btn-themecolor, 
.btn-themecolor.disabled:hover, 
.btn-themecolor[disabled]:hover, 
fieldset[disabled] .btn-themecolor:hover, 
.btn-themecolor.disabled:focus, 
.btn-themecolor[disabled]:focus, 
fieldset[disabled] .btn-themecolor:focus, 
.btn-themecolor.disabled:active, 
.btn-themecolor[disabled]:active, 
fieldset[disabled] .btn-themecolor:active, 
.btn-themecolor.disabled.active, 
.btn-themecolor[disabled].active, 
fieldset[disabled] .btn-themecolor.active { 
  background-color: #f6f8ff; 
  border-color: #f6f8ff; 
} 
 
.btn-themecolor .badge { 
  color: #f6f8ff; 
  background-color: #6a8eae; 
}