/***** TEXT AND COLOR SCHEME *********/
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #6a8eae;
  color: #f6f8ff;
}

h1, h2, h3 {
  font-family: 'Play', sans-serif;
}

a {
  color: #f6f8ff;
  text-decoration: underline solid;
}

a:hover {
  color: #020300;
}

a:visited {
  color: #020300;
}

.social-icons a {
  text-decoration: none;
  color: #020300;
}

/*********** IMAGES *******************/
#img-sylwia {
  border-radius: 50%;
  max-height: 110px;
  margin: 15px;
}

#img-rocks {
  max-height: 300px;
  width: 100%;
}

/**************************************/
#hr-header {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(246, 248, 255, 0), rgba(246, 248, 255, 0.75), rgba(246, 248, 255, 0)); /* f6f8ff */
}

#last-row {
  margin-bottom: 20px;
}

/************* STICKY FOOTER **********/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eff0e4;
  padding: 10px;
}

/************* FOOTER ICONS **********/
.social-icons {
  font-size: 2rem;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  float: none;
}
