/* Coolors Exported Palette - coolors.co/6a8eae-f6f8ff-020300-e5f4e3-5da9e9 */

$color1: #6a8eae; //rgba(106, 142, 174, 100)
$color2: #f6f8ff; //rgba(246, 248, 255, 100)
$color3: #020300; //rgba(2, 3, 0, 100)
$color4: #e5f4e3; //rgba(229, 244, 227, 100)
$color5: #5da9e9; //rgba(93, 169, 233, 100)